# private dir
imagenet
pre
src/web_server/node_modules/
src/computing_node/index
src/computing_node/index.mini
src/computing_node/index.large

# OS X
*.DS_Store

# vim
*.swp


# Python
*.pyc
*.pyo

# *nix tools
*nohup.out
